<div class="container">
        <h2 class="text-center">Create a Quote</h2>
        <hr>
        <form (ngSubmit)='PostQuote()' #quoteForm='ngForm'>
            <div class="form-group">
      
                <label for="name">Name:</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name">
            </div>
            <div class="form-group">
      
                    <label for="author">Author:</label>
                    <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author">
          
                </div>
            <div class="form-group">
      
                <label for="description">Type Quote:</label>
                <textarea class="form-control" id="describe" columns="60" rows="4" [(ngModel)]="newQuote.description" name="description" required></textarea>
      
            </div>
            <button type="submit" class="btn btn-danger">Add Quote</button>
        </form>
      </div>
