<p>

     <br>
    <b>Name: </b> {{goal.name}}  
    <br>
    <b>Author: </b> {{goal.author}}
  </p>
  <p>This goal will be complete in {{goal.completeDate|dateCount}} days</p>
  <p><b>Likes: </b> {{likes}}  </p>
  <p><b>Dislikes: </b> {{dislikes}}  </p>

  <!-- <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
  <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p> -->

  <button (click)= 'quoteComplete(true)' class="btn btn-outline-danger" ><b>Delete Quote</b></button>
  <button (click)= 'totalLikes()' class="btn btn-outline-success " ><b>like</b></button>
  <button (click)= 'totalDislikes()' class="btn btn-outline-info"><b>Dislike</b></button>